.home-container {
    background-color: #e74c3c;
    min-height: 100%;
    padding: 1rem;
}

.home-wrap {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 43.75rem;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 2rem;
}

.home-form {
    text-align: center;
}

.home-title {
    font-family: 'Pacifico';
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.home-input-input {
    width: 100%;
    max-width: 20rem;
    margin: 1rem 0 !important; 
}

.home-input-btn-login {
    @extend %btn-main;
    display: block;
    max-width: 20rem;
    margin: 2rem auto 0 auto;
}

.home-input-btn-register {
    @extend %btn-secondary;
    display: block;
    max-width: 15rem;
    margin: 0.5rem auto;
}
 
.home-help {
    font-size: 2rem !important;
    float: right;
    cursor: pointer !important;
}