@font-face
{
	font-family:'CorporateS';
	src:url("../../fonts/CorporateS-Regular.otf");
		font-style:normal;font-weight:normal;
}

@font-face
{
	font-family:'CorporateS';
	src:url("../../fonts/CorporateS-Demi.otf");
		font-style:normal;font-weight:bold;
}




